@charset "utf-8"; /* Use Unicode Transformation Format 8 character set */

#content {
    margin-bottom: 15px;
}

.main {
    /* margin 15px 0; */
    float: left;
    width: 70%;
    /* height 1000px; */
}

.main .title {
    text-align: center;
}

.groupScores {
    clear: right;
    float: right;
    width: 25%; 
    text-align: center; 
    /* margin 15px 0; */
}

#leaderboard p {
    margin: 0;
}

#leaderboard table {
    margin: 5px;
    width: calc(100% - 10px);
    border-collapse: collapse;
    text-align: left;
}

#leaderboard th,
#leaderboard td {
    padding: 5px 10px;
}

#leaderboard td {
    color: #333;
}

#leaderboard .header {
    border-bottom: silver solid 1px;
}

#leaderboard .pos {
    text-align: center;
}

#leaderboard .name {
    width: 100%;
    border-left: silver solid 1px;
}

#leaderboard .weekPts {
    
}

#leaderboard .totalPts {
    border-left: silver solid 1px;
}

#leaderboard tr:nth-child(even) {
    background-color: #F1F1F1;
}

#leaderboard tr:last-child td:first-child {
    border-bottom-left-radius: 7px;
}

#leaderboard tr:last-child td:last-child {
    border-bottom-right-radius: 7px;
}



.league {
    clear: right;
    float: right; 
    width: 25%; 
    text-align: center; 
    /* margin 15px 0; */
}

.leagueTable {
    width: 100%;
}

.leagueTable table {
    margin: 5px; 
    margin-top: 10px;
    table-layout: auto; 
    text-align: center; 
    border-collapse: collapse; 
}

.leagueTable .header {
    background-color: #222;
    color: white;
}

.leagueTable .header th:first-child {
    border-top-left-radius: 10px;
}
.leagueTable .header th:last-child {
    border-top-right-radius: 10px;
}
.leagueTable .row:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.leagueTable .row:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.leagueTable .row:nth-child(even) {
	background-color: lightgray;
}

.leagueTable .row:nth-child(odd) {
	background-color: #F1F1F1;
}

.leagueTable th, 
.leagueTable td {
    height: auto;
    /* border grey 1px dashed; */
    padding: 10px 5px;
}

.leagueTable p {
    margin: 0;
}

.leagueTable .pos,
.leagueTable .play,
.leagueTable .won,
.leagueTable .draw,
.leagueTable .lost,
.leagueTable .for,
.leagueTable .agst,
.leagueTable .dif,
.leagueTable .pts {
    width: 8%;
}

.leagueTable .team {
    text-align: left;
    width: 28%;
}

.leagueTable .line {
    border-bottom: grey 2px dotted;
}



@media only screen and (orientation: portrait) and (max-device-width: 450px) {
    .main {
        width: calc(100% - 20px);
    }

    .groupScores, .league {
        display: none;
    }
}


@media only screen and (orientation: landscape) and (max-device-width: 850px) {
    .main {
        width: 63%;
    }
    
    .groupScores, .league {
        width: 30%; 
    }

    
    .leagueTable p, .leagueTable b {
        font-size: 1em;
    }
}
