@charset "utf-8"; /* Use Unicode Transformation Format 8 character set */

/* ===== Week Selection ===== */
#weekSelect {
	display: inline-block; 
	width: 100%;
	margin: 0;
	padding-bottom: 5px;
	text-align: center;
}

#weekSelect button {
	padding: 0;
	border-style: none;
	vertical-align: sub;
	background-color: white;
}

#weekSelect .arrow {
	width: 25px; 
	height: 25px; 
	padding: 0px 10px;
	vertical-align: sub;
}

#weekSelect .weekCombo {
	margin-top: 15px;
	font-family: Arial, Verdana, Courier;
	font-size: 1.25em;
	font-weight: bold;
	text-align-last: center;
	height: 1.5em;
	width: auto;
}


/* ===== Week Beginning ===== */
#matches .weekBegin {
	margin-top: -3em;
	padding: 5px;
	padding-left: 10px;
	text-align: left;
}


/* ===== Week Score ===== */
#matches .weekScore {
	padding: 5px;
	padding-left: 10px;
	text-align: left;
}


/* ===== Joker Title ===== */
#matches .jokerTitle {
	margin-top: -1.8em;
	padding: 5px;
	padding-right: 10px;
	text-align: right;
}


/* ===== Table Settings ===== */
#games {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0; 
	padding: 0px 5px;
	margin-bottom: 10px;
}

#games td {
	padding: 10px 5px;
}

#games td p {
	margin: 0px;
}


/* ===== Match Separator ===== */
#games .line td {
	padding: 0px 5px;
}

#games .line td hr {
	margin: 0px -5px;
}


/* ===== Match Scoring Colours ===== */
#games .win {
	background-color: lime;
}

#games .draw {
	background-color: yellow;
}

#games .lose {
	background-color: red;
}


/* ===== Table Centre Spacing ===== */
#games .spacing p, #games .jokerSpace p {
	width: 80px;
}

#games .jokerSpace p { 
	padding: 6px 5px;
}


/* ===== Team Names ===== */
#games .team {
	width: 50%;
}

#games .team .home {
	text-align: right;
}

#games .team .away {
	text-align: left;
}

#games .team .tinyView {
    display: none;
}

#games .team .smallView {
    display: none;
}

#games .team .largeView {
    display: inline-block;
}


/* ===== Score Separator ===== */
#games .dash {
	text-align: center;
}


/* ===== Match Score ===== */
#games .score {
	font-size: 0.9em;
	height: 1.5em;
	width: auto;
}


/* ===== Joker Image ===== */
#games img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px; 
	height: 30px; 
	padding-left: 45px;
	padding-right: 5px;
}

#games input[type=radio] {
	display: none;
	content: url("../images/Ball_White.png");
}

#games .jokerRadio img:hover {
	opacity:0.6;
	cursor: pointer;
}

#games .jokerRadio img:active {
	opacity:0.4;
	cursor: pointer;
}

#games .jokerRadio input[type=radio]:checked + label > img {
	content: url("../images/Ball_Red.png");
	width: 30px;
}


/* ===== Save/Edit Button ===== */
#matches .submitButton {
	text-align: center;
	padding-bottom: 15px;
}

#matches .submit {
	font-family: Arial, Verdana, Courier;
	font-size: 0.8em;
	padding: 5px 10px;
}








.name {
	margin-top: 0;
}


/* ===== Week Selection ===== */
.weekSelect {
	display: inline-block; 
	width: 100%;
	margin: 0;
	padding-bottom: 5px;
	text-align: center;
}

.weekSelect button {
	padding: 0;
	border-style: none;
	vertical-align: sub;
	background-color: white;
}

.weekSelect .arrow {
	width: 25px; 
	height: 25px; 
	padding: 0px 10px;
	vertical-align: sub;
}

.weekSelect .weekCombo {
	margin-top: 15px;
	font-family: Arial, Verdana, Courier;
	font-size: 1.25em;
	font-weight: bold;
	text-align-last: center;
	height: 1.5em;
	width: auto;
}

.secondCol {
	width: 80%; 
	margin-left: -10px;
}

#weekNum { 
	margin: 0; 
	padding: 0;
	list-style: none;
}

#weekNum .weekScore {
	display: inline-block; 
	padding-left: 10px;
	width: 10%; 
	white-space: nowrap;
}

.day {
	margin: 10px;
	margin-top: 20px;
}

.day:first-child {
	margin-top: 10px;
}

.day h3 {
	margin: 0;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	background-color: skyblue;
}

.day .win:not(.shading) {
	background-color: lime;
}

.day .draw:not(.shading) {
	background-color: yellow;
}

.day .lose:not(.shading) {
	background-color: red;
}

.shading {
	position: relative;
    z-index: 1;
}

.shading:before {
	position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(35px + 1em);
    content: "";
    background-color: whitesmoke;
}

.win.shading:before {
    background-color: lime;
}

.draw.shading:before {
    background-color: yellow;
}

.lose.shading:before {
    background-color: red;
}

.clear {
	background-color: white;
}

.match {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: row;
	white-space: nowrap;
	border-bottom: silver solid 2px;
}

.match:last-child {
	border-radius: 0 0 10px 10px;
	border-bottom: 0;
}

.match li {
	padding: 15px 5px;
}

.match p {
	margin: 0;
}

.match .form-arrow {
	width: 50px; 
	padding: 10px;
	padding-right: 14px;
}

.match .form-arrow img {
	margin: 5px 0;
	width: 20px; 
	height: 20px; 
}

.match .form-arrow .open {
	transform: rotate(180deg)
}

.match .form-arrow .close {
	transform: rotate(0deg)
}

.match .dash {
	padding: 0;
}

.match .dash p {
	padding: 15px 5px;
}

.match .scoring {
	text-align: center;
}

.match .padding {
	padding-right: 50px;
}

.match .tinyView {
    display: none;
}

.match .smallView {
    display: none;
}

.match .largeView {
    display: inline-block;
}

.match .home {
	width: 100%;
	text-align: right; 
}

.match .away {
	width: 100%;
	text-align: left; 
}

.match .form {
	padding: 0 5px;
	border-bottom: silver;
}

.match .form p {
	display: inline-block;
	padding: 5px;
}

.match .form .result {
	text-align: center;
	height: 1em;
	width: 1em;
}

.match .form .win {
	border: limegreen outset 2px;
}

.match .form .draw {
	border: gold outset 2px;
}

.match .form .lose {
	color: white;
	border: crimson outset 2px;
}




.recent {
	margin-top: 15px;
	padding: 0 5px 10px 5px;
	background-color: whitesmoke;
	border: silver solid 1px;
    border-top: none;
    position: relative;
	border-radius: 0 0 15px 15px;
}
.recent:after, 
.recent:before {
    content: '';
    height: 50%;
    background-color: white;
    border: silver solid 1px;
    position: absolute;
    top: -3px;
    border-bottom: 0;
}
.home .recent:before {
    width: 50px;
    border-left: 0;
    border-radius: 0 5px 0 0;
    left: -51px;
}
.home .recent:after {
    width: 3em;
    border-right: 0;
    border-radius: 5px 0 0 0;
    right: calc(-3em - 1px);
}
.away .recent:before {
    width: 3em;
    border-left: 0;
    border-radius: 0 5px 0 0;
    left: calc(-3em - 1px);
}
.away .recent:after {
    width: 50px;
    border-right: 0;
    border-radius: 5px 0 0 0;
    right: -51px;
}

.home .edge {
	margin-left: -5px;
}
.away .edge {
	margin-right: -5px;
}
.home .edge:before,
.away .edge:after {
	background: none;
	border: none;
}



/* ===== Match Score ===== */
.match .score {
	font-size: 0.9em;
	height: 1.5em;
	width: auto;
}


/* ===== Joker Image ===== */
.match .joker {
	padding: 10px 5px;
}

.match .joker img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30px; 
	height: 30px; 
	padding-right: 5px;
}

.match input[type=radio] {
	display: none;
	content: url("../images/Ball_White.png");
}

.match .radio img:hover {
	opacity:0.6;
	cursor: pointer;
}

.match .radio img:active {
	opacity:0.4;
	cursor: pointer;
}

.match .radio input[type=radio]:checked + label > img {
	content: url("../images/Ball_Red.png");
	width: 30px;
}


/* ===== Save/Edit Button ===== */
.submit {
	text-align: center;
	padding-bottom: 10px;
}

.submitButton {
	font-family: Arial, Verdana, Courier;
	font-size: 1em;
	margin: 5px;
	padding: 5px 10px;
}


@media only screen and (orientation: portrait) and (max-device-width: 450px) {
	#weekNum .weekCombo {
		font-size: 2em;
	}

	.weekSelect .arrow {
        height: 2.5em;
        width: 2.5em;
	}
	
	.shading:before {
		height: calc(35px + 2em);
	}

    .recent p {
        font-size: 1.5em;
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 850px) {
	#weekNum .weekCombo {
		font-size: 1.5em;
	}

	.weekSelect .arrow {
        height: 2em;
        width: 2em;
	}
	
	.shading:before {
		height: calc(35px + 1.5em);
	}

	.recent {
		padding-left: 0;
		padding-right: 0;
	}

    .recent p {
        font-size: 1em;
    }
}
